<html>
	<head>
		<title>Pedido</title>
	</head>
	<body>
		<p>Numero de pedido:{{ pedido_actual.id }}</p>
{% for linea_carrito in carrito %}
		<p>Articulo:{{ linea_carrito.0 }}</p>
		<p>Precio unitario:{{ linea_carrito.1 }}</p>
		<p>Cantidad:{{ linea_carrito.2 }}</p>
		<p>Total:{{ linea_carrito.3 }}</p>
{% endfor %}
		<p>Fecha pedido:{{ pedido_actual.fecha_pedido }}</p>
		<p>Fecha entrega:{{ pedido_actual.fecha_entrega }}</p>
		<p>Direccion de entrega: {{ pedido_actual.direccion_entrega }}</p>
		<p>Comprador:{{ pedido_actual.autor_pedido }}</p>
		<p>Total a pagar: {{ total }}</p>
	</body>
</html>
